.input-group {
  display: flex;
  flex-direction: column;
}

.input-label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.input-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
.input-box:focus {
  border-color: #4b49ac;
  outline: none;
}
